:root{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
    font-size: 16px;
    font-family: sans-serif;
}

@font-face {
    font-family: Norse Bold;
    src: url(./Norse-Bold.otf);
}


.left-container div{
    background-color: rgba(0,0,0,0.4);
    margin: 30% auto;
    display: flex;
    justify-content: center;

    font-size: 60px;
    font-family: Norse Bold;
    color: white;
    
    
    
}

/* .left-container p{
    font-size: 48px;
    color: white;
} */

body{
    display: flex;
    height: 100vh;
}

#logo{
    height: 100px;
    margin: auto 0;
    
}

.left-container{
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    flex: 1 1 40vw;
    display: flex;
    flex-direction: column;
    
}

.right-container{
    flex: 2 1 60vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    
}

.right-container div{
    background-color: #EDEDED;
    padding: 32px;

    

}
form{
    
    
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    
   
    
}

.right-container .top{
    flex: 0 1 0;
}
form ul{
    list-style: none;
    display: flex;
    gap: 16px 40px;
    padding: 64px 80px 64px 32px;
    max-width: 80%;

    
    margin-bottom: 0;

    
    
    flex-wrap: wrap;
    /* padding: 24px 36px; */

    
}

li{
    display: flex;
    flex-direction: column;
    


}

form h1{
    padding-left: 32px;
    font-size: 1.4rem;
}

form div{
    margin: 0;
    padding-left: 0;
    width: auto;
    flex: 1 1 auto;
   

}

.bottom{
    height: auto;
}

label{
    text-transform:uppercase;
    font-size: 0.7rem;
}

button{
    padding: 16px 32px;
    border:0;
    border-radius: 8px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    /* margin-left: 32px; */
}

#credit{
    margin-top: auto;
    font-size: 1rem;
    color: white;
}

#credit>a{
    font-style: italic;
    color: white;
}



.left-container>p{
    margin-top: auto;
    text-align: center;
}

.left-container>div{
    margin: 35% 0;
}